<header class="cabecalho">
    <img src="assets/img/dener.jpg" alt="imagem de perfil" loading="eager" width = "130px" height = "130px">
    <h1>Guilherme de Souza Silva</h1>
</header>

<aside>
    <div class="container">
        <p>HTML | CSS | JavaScript | Angular</p>
        <p>Suzano, São Paulo, Brasil</p>
        <p>Uma pessoa apaixonada por tecnologia e que ama programar</p>
    </div>
    

    <nav>
        <ul>
            <li>
                <a href=""></a>
            </li>
            <li></li>
        </ul>
    </nav>

</aside>